body {
  background: url(./background.jpg);
}

#content {
  padding-bottom: 10px;
}

.App {
  width: 1000px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  min-height: 93vh;
  max-height: 10%;
  background-color: rgb(241, 241, 241);
}

.header {
  text-align: center;
}
.header input, button {
  margin: 15px;
  padding: 10px;
  font-size: 18px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border: 2px solid #8f8f8f;
  border-radius: 3px;
}
.header input {
  width: 250px;
}

.header button:hover {
  cursor: pointer;
}
